@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?krtirh");
  src:
    url("fonts/icomoon.eot?krtirh#iefix") format("embedded-opentype"),
    url("fonts/icomoon.ttf?krtirh") format("truetype"),
    url("fonts/icomoon.woff?krtirh") format("woff"),
    url("fonts/icomoon.svg?krtirh#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-eye-off:before {
  content: "\e91a";
}
.icon-check:before {
  content: "\e919";
}
.icon-more:before {
  content: "\e900";
}
.icon-close:before {
  content: "\e901";
}
.icon-arrow-right:before {
  content: "\e902";
}
.icon-eye:before {
  content: "\e903";
}
.icon-notification:before {
  content: "\e904";
}
.icon-search-normal:before {
  content: "\e905";
}
.icon-menu:before {
  content: "\e906";
}
.icon-activity:before {
  content: "\e907";
}
.icon-chevron-up:before {
  content: "\e908";
}
.icon-bitcoin-btc:before {
  content: "\e909";
}
.icon-card-pos:before {
  content: "\e90a";
}
.icon-category:before {
  content: "\e90b";
}
.icon-chart-2:before {
  content: "\e90c";
}
.icon-coin:before {
  content: "\e90d";
}
.icon-money-add:before {
  content: "\e90e";
}
.icon-money-tick:before {
  content: "\e90f";
}
.icon-moneys:before {
  content: "\e910";
}
.icon-moon:before {
  content: "\e911";
}
.icon-receipt-2:before {
  content: "\e912";
}
.icon-setting-2:before {
  content: "\e913";
}
.icon-sun:before {
  content: "\e914";
}
.icon-wallet-2:before {
  content: "\e915";
}
.icon-wallet:before {
  content: "\e916";
}
.icon-security:before {
  content: "\e917";
}
.icon-copy:before {
  content: "\e918";
}
